* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: brown;
  display: grid;
  place-items: center;
}

.box {
  width: 100px;
  height: 200px;
  border: 10px solid #fff;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0, .4), inset 0 10px 20px rgba(0,0,0, .2);
  position: relative;
}

.circle {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  animation: upanddown 5s ease infinite;
}

@keyframes upanddown {
  25% {
    top: 10px;
    left: 15px;
  }
  50% {
    top: 120px;
    left: 15px;
  }
  100% {
    top: 10px;
    left: 15px;
  }
}